.chart-container {
  background-color: #1e1e2d;
  margin: 20px;
  /* margin-top: 0px; */

  border-radius: 24px;
  /* width: 95%;
  height: 50%;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 30px;
  padding-right: 15px; */
}
